
html, body {
	margin:10px 100px;
  	padding:10px 200px;
	
}



#imgContainer{
	width: 980px;
	height: 500px;
	padding: 100px 80px 20px 20px;

	background: red;
}



.zoomableContainer{
	 background-color: rgba(5, 5, 5, 0.6);
}


